{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for story in stories %}
            <td>{{ story.title }}</td>
            <td>{{ story.description }}</td>
            <td>{{ story.date| date("Y/m/d") }}</td>
        {% endfor %}
    </table>
</div>
{% endblock %}
